<a href="https://colab.research.google.com/github/GokulvasanV/pandas/blob/main/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Part-- 1**

In [ ]:
print('hello world')

hello world

In [2]:
import pandas as pd

In [ ]:
web_stats={'Day':[1,2,3,4,5,6],
           'Visitors':[65,34,87,23,39,92],
           'Bouncer_Rate':[65,73,62,64,54,56]}

In [ ]:
df=pd.DataFrame(web_stats)
df

   Day  Visitors  Bouncer_Rate
0    1        65            65
1    2        34            73
2    3        87            62
3    4        23            64
4    5        39            54
5    6        92            56

In [ ]:
# set index as "Day"
df.set_index('Day') # it won't replace in our dataframe

     Visitors  Bouncer_Rate
Day
1          65            65
2          34            73
3          87            62
4          23            64
5          39            54
6          92            56

In [ ]:
df

   Day  Visitors  Bouncer_Rate
0    1        65            65
1    2        34            73
2    3        87            62
3    4        23            64
4    5        39            54
5    6        92            56

In [ ]:
# set index as "Day" and also replace in our dataframe
df.set_index('Day',inplace=True)
df

     Visitors  Bouncer_Rate
Day
1          65            65
2          34            73
3          87            62
4          23            64
5          39            54
6          92            56

In [ ]:
# show specific column
df['Visitors']

Day
1    65
2    34
3    87
4    23
5    39
6    92
Name: Visitors, dtype: int64

In [ ]:
# or you can use this code also for show specific column
df.Visitors

Day
1    65
2    34
3    87
4    23
5    39
6    92
Name: Visitors, dtype: int64


in specific column code won't accept space between words(in column name)

Ex:

**df['Bouncer Rate'] # it will work properly**

df.'Bouncer Rate' # here it won't work because this word has space

In [ ]:
# show multiple columns 
print(df[['Bouncer_Rate','Visitors']])

     Bouncer_Rate  Visitors
Day
1              65        65
2              73        34
3              62        87
4              64        23
5              54        39
6              56        92

In [ ]:
# convert the dict into list
df.Visitors.tolist()

[65, 34, 87, 23, 39, 92]

print(df[['Bouncer_Rate','Visitors']]) # it won't work

***See Below***

In [ ]:
import numpy as np

In [ ]:
print(np.array(df[['Bouncer_Rate','Visitors']])) # convert these Dict columns into array

[[65 65]
 [73 34]
 [62 87]
 [64 23]
 [54 39]
 [56 92]]

## **Part-- 2**

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dataset/data.csv")
print(df.head())

         Date  Duration  Pulse  Maxpulse  Calories
0  01/12/2022        60    110       130     409.1
1  02/12/2022        60    117       145     479.0
2  03/12/2022        60    103       135     340.0
3  04/12/2022        45    109       175     282.4
4  05/12/2022        45    117       148     406.0

In [3]:
df.set_index('Date',inplace=True)
print(df.head())

            Duration  Pulse  Maxpulse  Calories
Date
01/12/2022        60    110       130     409.1
02/12/2022        60    117       145     479.0
03/12/2022        60    103       135     340.0
04/12/2022        45    109       175     282.4
05/12/2022        45    117       148     406.0

In [4]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/dataset/newcsv2.csv') # create new csv data set

In [8]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dataset/newcsv2.csv',index_col=0) # it won't repeat index
df.head()

            Duration  Pulse  Maxpulse  Calories
Date
01/12/2022        60    110       130     409.1
02/12/2022        60    117       145     479.0
03/12/2022        60    103       135     340.0
04/12/2022        45    109       175     282.4
05/12/2022        45    117       148     406.0

In [9]:
# rename the column
#df.columns=["no.of days"]
#df.to_csv('/content/drive/MyDrive/Colab Notebooks/dataset/newcsv3.csv')
df.head()

ValueError: ignored

In [11]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/dataset/newcsv4.csv', header=False) # it won't show column name

In [18]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dataset/newcsv4.csv",names=['Date','Period','Pulse','Maxpulse','Calories'],index_col=0) #set the column name and won't show without index
df.head()

            Period  Pulse  Maxpulse  Calories
Date
01/12/2022      60    110       130     409.1
02/12/2022      60    117       145     479.0
03/12/2022      60    103       135     340.0
04/12/2022      45    109       175     282.4
05/12/2022      45    117       148     406.0

In [19]:
df.to_html("/content/drive/MyDrive/Colab Notebooks/dataset/newcsv_html.html") # save for html file

In [20]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dataset/newcsv4.csv",names=['Date','Period','Pulse','Maxpulse','Calories']) #set the column name and show with index
df.head()

         Date  Period  Pulse  Maxpulse  Calories
0  01/12/2022      60    110       130     409.1
1  02/12/2022      60    117       145     479.0
2  03/12/2022      60    103       135     340.0
3  04/12/2022      45    109       175     282.4
4  05/12/2022      45    117       148     406.0

In [21]:
# rename column name
df.rename(columns={'Period':'Duration'},inplace=True)
df.head()

         Date  Duration  Pulse  Maxpulse  Calories
0  01/12/2022        60    110       130     409.1
1  02/12/2022        60    117       145     479.0
2  03/12/2022        60    103       135     340.0
3  04/12/2022        45    109       175     282.4
4  05/12/2022        45    117       148     406.0