<a href="https://colab.research.google.com/github/GokulvasanV/pandas/blob/main/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('hello world')

hello world

In [2]:
import pandas as pd

In [3]:
web_stats={'Day':[1,2,3,4,5,6],
           'Visitors':[65,34,87,23,39,92],
           'Bouncer_Rate':[65,73,62,64,54,56]}

In [4]:
df=pd.DataFrame(web_stats)
df

   Day  Visitors  Bouncer_Rate
0    1        65            65
1    2        34            73
2    3        87            62
3    4        23            64
4    5        39            54
5    6        92            56

In [5]:
# set index as "Day"
df.set_index('Day') # it won't replace in our dataframe

     Visitors  Bouncer_Rate
Day
1          65            65
2          34            73
3          87            62
4          23            64
5          39            54
6          92            56

In [6]:
df

   Day  Visitors  Bouncer_Rate
0    1        65            65
1    2        34            73
2    3        87            62
3    4        23            64
4    5        39            54
5    6        92            56

In [7]:
# set index as "Day" and also replace in our dataframe
df.set_index('Day',inplace=True)
df

     Visitors  Bouncer_Rate
Day
1          65            65
2          34            73
3          87            62
4          23            64
5          39            54
6          92            56

In [8]:
# show specific column
df['Visitors']

Day
1    65
2    34
3    87
4    23
5    39
6    92
Name: Visitors, dtype: int64

In [9]:
# or you can use this code also for show specific column
df.Visitors

Day
1    65
2    34
3    87
4    23
5    39
6    92
Name: Visitors, dtype: int64

**** Double click and see****
in specific column code won't accept space between words
Ex:
df['Bouncer Rate'] # it will work properly....
df.'Bouncer Rate' # here it won't work because this word has space

In [10]:
# show multiple columns 
print(df[['Bouncer_Rate','Visitors']])

     Bouncer_Rate  Visitors
Day
1              65        65
2              73        34
3              62        87
4              64        23
5              54        39
6              56        92

In [11]:
# convert the dict into list
df.Visitors.tolist()

[65, 34, 87, 23, 39, 92]

****Double click and see****
print(df[['Bouncer_Rate','Visitors']]) # it won't work
***See Below***

In [12]:
import numpy as np

In [ ]:
print(np.array(df[['Bouncer_Rate','Visitors']])) # convert these Dict columns into array